<div class="Registration">
  <button class="closeReg" onclick="closeReg()">X</button>
  <h2>Registration</h2>
  <input type="text" placeholder="first name" class="inputField" />
  <input type="text" placeholder="last name" class="inputField" />
  <input  type="email" placeholder="email" class="inputField" />
  <input type="password" placeholder="password" class="inputField" />
  <div>
    <!-- <button class="loginButton">Sign Up</button>
    <button class="loginButton" onclick="gotoLogin()">Login</button> -->

    <a href="#" class="loginButton" onclick="gotoLogin()">Sign Up</a>
    <a href="#" class="loginButton"   onclick="gotoLogin()">login</a>

  </div>
</div>

<!-- login -->
<div class="login">
  <button class="closeLogin" onclick="closeLogin()">X</button>
  <h2>Login</h2>
  <input type="text" placeholder="username" class="inputField" /><br />
  <input type="password" placeholder="password" class="inputField" />
  <div>
    <a href="/articles/new" class="loginButton">Login</a>
    <a href="#" class="loginButton"  onclick="gotoReg()">Create Account</a>

    <!-- <button class="loginButton" onclick="gotoReg()">Create Account</button> -->
  </div>
</div>

